body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #F7F8FA;
  color: #1F2937;

}

h1, h2, h3 {
  font-weight: 600;
}

button {
  background: #4F46E5;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.25s;
}

button:hover {
  background: #4338CA;
  transform: translateY(-2px);
}

.card {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 20px rgba(0,0,0,0.08);
  border-radius: 16px;
  padding: 20px;
  transition: 0.3s ease;
  border: 1px solid #E5E7EB;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 24px rgba(0,0,0,0.12);
}

input, select {
  padding: 12px;
  width: 100%;
  max-width: 350px;
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  margin-bottom: 16px;
}

input:focus, select:focus {
  border-color: #4F46E5;
  outline: none;
  box-shadow: 0px 0px 4px rgba(79,70,229,0.3);
}

.container {
  padding: 40px;
  padding-left: 15%;

}

.flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
